In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
executable_path= {'executable_path': 'chromedriver.exe'} #{file path to chromedriver: chromedriver.exe}
browser = Browser('chrome', **executable_path, headless = False) #command to use 'chrome' with chromedriver from executable_path

In [3]:
#set url we want to visit
url = 'https://mars.nasa.gov/news/'

#order to visit url website by using '.visit(address)', so cell above turn on chrome, line belows goes to url
browser.visit(url)

#all commands below act on openned chrome window, so we dont use url as variable anymore

#Line to check if url exist, states True or false, and it waits 2s just to make sure everything is loaded
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=2)

True

In [4]:
#setting as variables so we dont need to type so much
html = browser.html #prase html
news_soup = BeautifulSoup(html, 'html.parser') #prase BeautifulSoup
slide_elem = news_soup.select_one('ul.item_list li.slide') #prase news_soup.select_one('ul.item_list li.slide')


#<ul> is a tag in the page, can contain items under it like item lists <li> that contain items like slides articles etc
# ul.item_list points to ul of class "list" in ul
# .slide point to items of class slide in li

In [5]:
#it will return the first element that is in div and is content_title class
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

"NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb"

In [6]:
#.find() is used when we want only the first class and attribute we’ve specified.
#.find_all() is used when we want to retrieve all of the tags and attributes.

In [7]:
#print all titles, we need to iterate on news_soup not news_title, which selects only one article
#all_news_title = news_soup.find_all("div", class_='content_title')

#for banana in all_news_title:
#    print(banana.get_text())

In [8]:
#the same
#for banana in news_soup.find_all('div', class_='content_title'): #we iterate 'banana' on soup.find_all, call find_all function in soup module
#    print(banana.get_text())

In [9]:
# Use the parent element to find the paragraph text of first article on top of the page
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.'

"### Featured Images"

In [10]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [11]:
# Find and click the full image button, we already found in web page that id=full_image holds full size image
#if the page is already in full image, it will throw error because then there is no full image button
full_image_elem = browser.find_by_id('full_image') #fing object with class full image, i.e. a button that says/does "full_image"
full_image_elem.click() #klick on that element

In [12]:
# Find the more info button and click that, searching by text
browser.is_element_present_by_text('more info', wait_time=2)
more_info_elem = browser.find_link_by_partial_text('more info')
more_info_elem.click()

C:\Users\tomas\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [13]:
# Parse the resulting html with soup
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [14]:
# Find the most recent image url
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA18049_hires.jpg'

In [15]:
#pandas look at the web site and automatically looks for a table.
#by setting [0] we say to take 1st table it encounters and returns it as data frame
df = pd.read_html('http://space-facts.com/mars/')[0]

#assign columns to the data frame, if we dont do that there is Key error ""None of ['description'] are in the columns"" 
df.columns=['description', 'value']

#we set index on description in place of normal index 0,1,2..
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
#converting data frame to html, :)) so we don't have to do it
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
browser.quit()